################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Debug
/.vs
/x64/Debug
*.cso
*.afphoto
*.pdf
/korone.fbx
/packages/WinPixEventRuntime.1.0.200127001
